.wrapper {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.useremail {
  font-weight: 700;
  margin: 0;
  padding: 12px;
}

.button {
  padding: 12px;
}
